.subsection.header {
  color: red;
}

.subsection#preview {
  color: blue;
}

#test {
  background-color: red;
  color: aliceblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#fontTest {
  font-family: "FrankfurtMesseWide";
  background-color: aliceblue;
  padding-left: 5px;
}

.ancestor .contents {
  background-color: blueviolet;
  color: white;
  font-size: 25px;
  padding-left: 5px;
}

.ancestor {
  padding-left: 5px;
  background-color: black;
  color: red;
  font-family: "FrankfurtSolid";
}
